
body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  background-color: #577085;
  color: #a0b0b1;
}

hr {
  border: .75px solid #37ffc3;
}

h1 {
  font-size: 50px;
  color: #045074;
}

h2 {
  font-size: 25px;
  color: #045074;
}

.custom-jumbotron {
  background-image: linear-gradient(0.25turn, #0081b8, #c4e7a8, #f1c799);
  border: 2px solid #37ffc3;
 
}

button {
  width: 200px;
  height: 50px;
  background: #bedce7;
  border: 2px solid #37ffc3;
  color: black;
  border-radius: 10px;
  margin: 10px;
}

button:hover{
  color: #ffffff;
  border: 1px solid #ffffff;
}
#error {
  color: red;
  font-weight: bolder;
}

.form-label {
  color: black;
  font-size: larger;
  font-weight: bolder;
}

.form-control {
  background: #bedce7;
  border: 2px solid #37ffc3;
}